*,::before,::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-color: #84dfe2;
    --brown: #57280f;
    --blue: #33a5da;
    --dark-blue: #3a94b7;
    --machine-color: #32c2db;
    --machine-width: 160px;
    --m: 2;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-height: 600px;
    flex-direction: column;
}

.pix,.pix::before,.pix::after {
    width: calc(var(--w) * var(--m));
    height: calc(var(--h) * var(--m));
    image-rendering: pixelated;
    background-size: calc(var(--w) * var(--m)) calc(var(--h) * var(--m));
}

.pix::before,.pix::after {
    position: absolute;
    content: '';
}

.claw-machine {
    display: flex;
    flex-direction: column;
    border: 2px solid var(--brown);
    overflow: hidden;
}

.collection-box {
    --h: 32px;
    width: calc(var(--m) * var(--machine-width));
    margin: calc(var(--m) * var(--h) * -1 - 10px) 0 24px;
    display: flex;
    align-items: bottom;
    justify-content: start;
}

.collection-box .toy-wrapper {
    position: relative;
    width: calc(100% / 6);
    display: flex;
    align-items: end;
    justify-content: center;
}

.collection-box .toy-wrapper .toy::after {
    top: auto;
    bottom: 0;
}

.toy-wrapper.squeeze-in {
    width: 0;
    animation: squeeze-in forwards 0.4s;
    animation-delay: 1.4s;
}

@keyframes squeeze-in {
    0% {
        width: 0;
    }
    100% {
        width: calc(100% / 6);
    }
}

@keyframes show-toy-2 {
    0% {
        opacity: 0;
        transform: translateY(-100vh);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.toy-wrapper .toy {
    opacity: 0;
    transform: translateY(-100vh);
    animation: forwards show-toy-2 0.8s;
    animation-delay: 1s;
}

.claw-machine.show-overlay::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: var(--machine-color);
    opacity: 0.6;
    z-index: 6;
    pointer-events: none;
}

.box {
    position: relative;
    background-color: #7fcfed;
    --w: var(--machine-width);
    --h: 180px;
}

.box::before {
    background-color: var(--brown);
    top: calc(70px * var(--m));
    width: 100%;
    height: calc(var(--m) * 8px);
    z-index: 5;
}

.box::after {
    background-color: var(--machine-color);
    top: calc(70px * var(--m));
    right: 0px;
    width: calc(var(--m) * 8px);
    height: calc(var(--m) * 170px);
    z-index: 2;
}

.machine-top,.machine-bottom {
    position: absolute;
    width: 100%;
    --h: 70px;
    height: calc(var(--h) * var(--m));
}

.machine-top {
    top: 0;
    display: flex;
    align-items: center;
    z-index: 1;
}

.machine-top::after {
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #70f7f372;
    z-index: 1;
}

.machine-bottom {
    bottom: 0;
    background-color: #def7f6;
}

.collection-point {
    position: absolute;
    bottom: 0;
    background-image: url('images/image1.png');
    --w: 44px;
    --h: 24px;
    z-index: 0;
}

.rail {
    top: 0;
    left: 0;
    transition: 0.3s;
    border: solid var(--blue);
}

.rail.hori {
    --h: 5px;
    width: 100%;
    background-color: #fff;
    border-width: 2px 0;
    z-index: 1;
}

.rail.vert {
    position: absolute;
    --h: 70px;
    --w: 5px;
    background-color: #fff;
    border-width: 0 2px;
}

.arm-joint {
    position: absolute;
    top: 0;
    left: 0;
    --w: 5px;
    --h: 5px;
    transition: 0.3s;
    z-index: -1;
}

.arm-joint::after {
    position: absolute;
    border: solid var(--blue) 2px;
    background-color: #fff;
    --w: 10px;
    --h: 10px;
    top: calc(var(--m) * var(--h) * -0.25);
    left: calc(var(--m) * var(--w) * -0.25);
}

.arm::after {
    position: absolute;
    --w: 13px;
    --h: 7px;
    bottom: calc(var(--m) * -1px);
    left: calc(var(--m) * -3px);
    background-image: url('images/image2.png');
}

.arm.missed::after {
    background-image: url('images/image3.png');
}

.control {
    position: relative;
    --h: 60px;
    width: 100%;
    text-align: right;
    background-color: var(--dark-blue);
}

.cover {
    position: absolute;
    background-color: var(--machine-color);
    --top-size: calc(var(--m) * 20px);
    --bottom-size: calc(var(--m) * 10px);
    z-index: 4;
}

.top {
    top: 0;
    width: 100%;
    height: calc(var(--m) * 16px);
}

.collection-arrow {
    position: absolute;
    left: calc(var(--m) * 21px);
    top: calc(var(--m) * 9px);
    --w: 8px;
    --h: 4px;
    background-image: url('images/image4.png');
    filter: sepia(1) brightness(0.5);
}

.bottom {
    bottom: 0px;
    width: 100%;
    height: calc(var(--m) * 8px);
    background-color: var(--brown);
}

.left {
    bottom: 0px;
    left: 0px;
    height: calc(var(--m) * 170px);
    width: calc(var(--m) * 8px);
}

.right {
    top: 0;
    right: 0px;
    height: 100%;
    width: calc(var(--m) * 116px);
}

.instruction {
    position: absolute;
    --w: 51px;
    --h: 12px;
    background-image: url('images/image5.png');
    top: calc(var(--m) * 34px);
    right: calc(var(--m) * 11px);
}

.arm {
    position: absolute;
    --w: 7px;
    --h: 28px;
    background-color: #fff;
    box-shadow: 0 0 0 2px var(--blue);
    transition: 0.3s;
    margin-top: calc(var(--m) * -1px);
    margin-left: calc(var(--m) * -1px);
}

.claws {
    position: absolute;
    --w: 3px;
    --h: 10px;
    bottom: calc(var(--m) * -5px);
    left: calc(var(--m) * 2.5px);
}

.claws::before,.claws::after {
    top: 0;
    --w: 0;
    --h: 16px;
    transition: 0.2s;
}

.claws::before {
    left: calc(var(--m) * -10px);
    background-image: url('images/image6.png');
    --close-angle: 45deg;
    transform-origin: top right;
}

.claws::after {
    left: calc(var(--m) * 2.5px);
    background-image: url('images/image7.png');
    --close-angle: -45deg;
    transform-origin: top left;
}

.arm.open .claws::before,.arm.open .claws::after {
    rotate: var(--close-angle);
}

.arm-joint::before {
    --w: 20px;
    --h: 16px;
    transform: scale(var(--scale));
    margin-left: -15px;
    margin-top: var(--shadow-pos);
    background-image: url('images/image8.png');
    background-image: url('images/image9.png');
    z-index: -1;
    opacity: 0.5;
}

button {
    position: relative;
    z-index: 5;
    --w: 24px;
    --h: 24px;
    margin: 12px 12px 0 0;
    border: 0;
    background-color: transparent;
    background-image: url('images/image10.png');
    filter: sepia(1) brightness(0.4);
    pointer-events: none;
    cursor: pointer;
}

.hori-btn {
    transform: rotate(90deg);
}

.active {
    animation: pulse infinite 1s;
    pointer-events: all;
}

@keyframes pulse {
    0%,
    100% {
        filter: sepia(0);
    }
    50% {
        filter: sepia(1);
    }
}

.toy.display {
    transform: scale(3);
    animation: forwards show-toy-1 0.8s;
    animation-delay: 1s;
}

.toy {
    position: absolute;
    transition: transform 1s, left 0.3s, top 0.3s;
    --m: 2;
    --w: 20px;
    --h: 27px;
    transform: rotate(var(--rotate-angle));
    pointer-events: none;
}

.toy::after {
    content: '';
}

.toy.bear::after {
    --w: 24px;
    --h: 30px;
    top: calc(var(--m) * -2px);
    left: calc(var(--m) * -2px);
    background-image: url('images/bear.png');
}

.toy.bear.grabbed::after {
    background-image: url('images/bear-close-eyed.png');
}

.toy-wrapper .toy.bear::after {
    background-image: url('images/bear.png');
}

.toy.bunny {
    --w: 20px;
    --h: 29px;
}

.toy.bunny::after {
    --w: 24px;
    --h: 32px;
    top: calc(var(--m) * -2px);
    left: calc(var(--m) * -2px);
    background-image: url('images/bunny.png');
}

.toy.bunny.grabbed::after {
    background-image: url('images/bunny-wink.png');
}

.toy-wrapper .toy.bunny::after {
    background-image: url('images/bunny-close-eyed.png');
}

.toy.golem::after {
    --w: 26px;
    --h: 30px;
    top: calc(var(--m) * -1px);
    left: calc(var(--m) * -3px);
    background-image: url('images/golem.png');
}

.toy.golem.grabbed::after {
    background-image: url('images/golem-shocked.png');
}

.toy-wrapper .toy.golem::after {
    background-image: url('images/golem-happy.png');
}

.toy.cucumber::after {
    --w: 16px;
    --h: 30px;
    top: calc(var(--m) * 1px);
    left: 0;
    background-image: url('images/cucumber.png');
}

.toy.cucumber.grabbed::after {
    background-image: url('images/cucumber-smirk.png');
}

.toy-wrapper .toy.cucumber::after {
    background-image: url('images/cucumber-happy.png');
}

.toy.penguin {
    --w: 24px;
    --h: 22px;
}

.toy.penguin::after {
    --w: 26px;
    --h: 24px;
    top: calc(var(--m) * -1px);
    left: calc(var(--m) * -1px);
    background-image: url('images/penguin.png');
}

.toy.penguin.grabbed::after {
    background-image: url('images/penguin-close-eyed.png');
}

.toy-wrapper .toy.penguin::after {
    background-image: url('images/penguin-sleepy.png');
}

.toy.robot {
    --w: 20px;
    --h: 30px;
}

.toy.robot::after {
    --w: 24px;
    --h: 32px;
    top: clac(var(--m) * -1px);
    left: calc(var(--m) * -2px);
    background-image: url('images/robot.png');
}

.toy.robot.grabbed::after {
    background-image: url('images/robot-happy.png');
}

.toy.wrapper .toy.robot::after {
    background-image: url('images/robot-smiles.png');
}

.toy.selected {
    pointer-events: all;
}

@keyframes show-toy-1 {
    0% {
        opacity: 1;
        transform: scale(3) translateY(0);
    }
    30% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        transform: scale(1) translateY(-100vh);
    }
}

.control .collection-point {
    filter: brightness(0.8s);
    bottom: clac(var(--m) * 8px);
}

.sign {
    position: fixed;
    color: var(--brown);
    bottom: 10px;
    right: 10px;
    font-size: 10px;
}

a {
    color: var(--brown);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}