*,::before,::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-color: #84dfe2;
    --brown: #57280f;
    --blue: #33a5da;
    --dark-blue: #3a94b7;
    --machine-color: #32c2db;
    --machine-width: 160px;
    --m: 2;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-height: 600px;
    flex-direction: column;
}

.pix,.pix::before,.pix::after {
    width: calc(var(--w) * var(--m));
    height: calc(var(--h) * var(--m));
    image-rendering: pixelated;
    background-size: calc(var(--w) * var(--m)) calc(var(--h) * var(--m));
}

.pix::before,.pix::after {
    position: absolute;
    content: '';
}

.claw-machine {
    display: flex;
    flex-direction: column;
    border: 2px solid var(--brown);
    overflow: hidden;
}

.collection-box {
    --h: 32px;
    width: calc(var(--m) * var(--machine-width));
    margin: calc(var(--m) * var(--h) * -1 - 10px) 0 24px;
    display: flex;
    align-items: bottom;
    justify-content: start;
}

.collection-box .toy-wrapper {
    position: relative;
    width: calc(100% / 6);
    display: flex;
    align-items: end;
    justify-content: center;
}

.collection-box .toy-wrapper .toy::after {
    top: auto;
    bottom: 0;
}

.toy-wrapper.squeeze-in {
    width: 0;
    animation: squeeze-in forwards 0.4s;
    animation-delay: 1.4s;
}

@keyframes squeeze-in {
    0% {
        width: 0;
    }
    100% {
        width: calc(100% / 6);
    }
}

@keyframes show-toy-2 {
    0% {
        opacity: 0;
        transform: translateY(-100vh);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.toy-wrapper .toy {
    opacity: 0;
    transform: translateY(-100vh);
    animation: forwards show-toy-2 0.8s;
    animation-delay: 1s;
}

.claw-machine.show-overlay::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: var(--machine-color);
    opacity: 0.6;
    z-index: 6;
    pointer-events: none;
}

.box {
    position: relative;
    background-color: #7fcfed;
    --w: var(--machine-width);
    --h: 180px;
}

.box::before {
    background-color: var(--brown);
    top: calc(70px * var(--m));
    width: 100%;
    height: calc(var(--m) * 8px);
    z-index: 5;
}

.box::after {
    background-color: var(--machine-color);
    top: calc(70px * var(--m));
    right: 0px;
    width: calc(var(--m) * 8px);
    height: calc(var(--m) * 170px);
    z-index: 2;
}